@charset "utf-8";
@import "node_modules/sassimple/mixins/_sassimple.scss";

@import "src/styles/package-only/variables";
@import "src/styles/package-only/base";

@import "src/styles/reframe.scss";

p,
figure {
	margin: $spacing-unit 0;
}
figcaption {
  font-size: 1rem;
  line-height: 1.5;
	margin: $spacing-unit 0 0;
	text-align: center;
   @include media-query-utility($width-small) {
    font-size: 1.5rem;
  }
}
article,
figure {
	margin: $spacing-unit auto;
	max-width: calc(100% - #{$spacing-unit * 2});
}
figure {
  background: $color-medium;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
  border-radius: 1rem;
  color: white;
  padding: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 0 $color-medium;
  .reframe {
    font-size: 1.5rem;
    @include media-query-utility($width-small) {
      font-size: 2rem;
    }
  }
  @include media-query-utility($width-small) {
    max-width: $width-content;
  }
}
pre {
  background: $color-medium;
  border-radius: .5rem;
  color: white;
  margin: $spacing-unit auto;
  max-width: calc(100% - #{$spacing-unit * 2});
  overflow: auto;
  padding: 0;
  text-align: left;
  text-shadow: 1px 1px 0 $color-medium;
  @include media-query-utility($width-small) {
    max-width: $width-content;
  }
  code {
    display: block;
    padding: 1rem 1rem;
  }
}
h1,
h2,
footer p {
	text-align: center;
}
h1,
footer {
	margin: #{$spacing-unit * 2} auto;
}
.reframe {
  font-family: $font-script;
}
.content {
  margin: $spacing-unit auto;
  max-width: calc(100% - #{$spacing-unit * 2});
  text-align: left;
  @include media-query-utility($width-small) {
    max-width: $width-content;
  }
  ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin-left: 1rem;
  }
  li,
  p {
    font-size: 1rem;
    line-height: 1.75;
    @include media-query-utility($width-small) {
      font-size: 1.25rem;
    }
  }
  h2,
  h3 {
    font-weight: bold;
  }
  h2 {
    font-size: 2rem;
    margin: 3rem 0 1rem;
    text-align: left;
    @include media-query-utility($width-small) {
      font-size: 2.5rem;
    }
  }
  h3 {
    font-size: 1rem;
    margin: 2rem 0 1rem;
  }
  .reframe {
    font-size: 1.5rem;
    @include media-query-utility($width-small) {
      font-size: 2rem;
    }
  }
  .center {
    font-size: 1rem;
    margin: 4rem 0;
    text-align: center;
    a {
      font-weight: bold;
    }
  }
}
.center {
  margin: 0 auto;
  text-align: center;
}


